---
---

@import "{{ site.theme }}";
$max-width:100%;
.main-content {
 max-width:90%;
}

.page-header {
    background-image: url("https://github.com/nsitvivek/after-effects-feature-history/blob/main/assets/images/logo.png");
    background-size: 100% auto;
}
